.navbar1{
    background-color: #00B050;
}
.btn.btnbutton1{
    background-color: #00B050;
    color: aliceblue;
}
.btn.btnbutton1:hover{
    opacity: 0.6;
}
.btn.btnbutton1:active {
    box-shadow: box-shadow:
      7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px);
    /* Moving button 4px to y-axis */
}
#response{
    width: 70%;
    margin: 15px auto;
    padding: 15px;
    border-radius: 5px;
  }
.error-msg{
    background: #f2dedf;
    color: #9c4150;
    border: 1px solid #e7ced1;
  }
.success-msg{
    background: #e0efda;
    color: #407a4a;
    border: 1px solid #c6dfb2;
  }
.process-msg{
    background: #d9edf6;
    color: #377084;
    border: 1px solid #c8dce5;
  }